*{
    margin:0;
    padding:0;
}
.navbar{
    display: flex;
    justify-content: center;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    position: sticky;
    top: 0px;
    background-color: white;
    height: 74px;
}
ul{
    display: flex;
    gap: 15px;
    margin-top: 15px;
    margin-right: 100px;
}
.logo{
    padding-left:20px ;
    height:75px;
    width: 80px;
}
input{
    height: 30px;
    width: 80%;
    margin-top:15px ;
    margin-right: 100px;
}
li a{
    text-decoration: none;
    color: grey;
    font-weight: bold;
}
.right-section{
    display: flex;
    margin-top: 15px;
    gap: 15px;
    color: black;
    font-weight: bold;
}


@media(max-width:650px){
    
        .navbar{
          
            height: 100%;
            width: 100%;
            flex-direction: column;
            
            }
            .input{
                margin-left: 12%;
                width: 243px;
            }
            ul{    
                justify-content: center;
                margin-left: 56px;
            }     
    
           .img{

          }
          .right-section{
            justify-content: center;
         }
      
      }
    

       
  



