*{
    margin:0;
    padding:0;
}
.navbar{
    display: flex;
    align-items: center;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: sticky;
    top: 0;
    background-color: white;
 
}
.img{
    height: 100px;
    width: 100px;
    margin-left: 34px;
}
ul{
    display: flex;
    margin-left: 30px;
    
    
}
ul li{
   text-decoration: none ;
    padding: 15px;
    font-weight: bolder;
    cursor: pointer;
    font-size: 16px;
}
.right {
    display: flex;
    justify-content: space-evenly;
  margin-left: 100px;
  

}
.input{
    width: 300px;
    height: 30px;

}

.profile{
    
    margin-left: 150px;
    font-weight: bolder;
    cursor: pointer;
}
.wishlist{
    margin-left: 20px;
    font-weight: bolder;
    cursor: pointer;
}
.bag{
    margin-left: 20px;
    font-weight: bolder;
    cursor: pointer;
}





