*{
    margin:0;
    padding:0;
}
.product-wrapper{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    gap: 30px;
    margin:15px 0 0 0 ;

}
.product-container{
    width: 200px;
    
    
}
.p-image{
    width: 200px;
    height: 200px;
}
.p-image img{
    height: 100%;
    width: 100%;
}
 .btn{
    background-color: #db4333; 
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
 }
